In [103]:
import torch
import pandas as pd
import numpy as np
import math
import seaborn as sb
import matplotlib.pyplot as plt

In [104]:
data = pd.read_csv("C:\\Users\\Mihailo\\Desktop\\datasets\\SviPodaci_mStanica_BeogradStariGrad.csv",  low_memory=False)
data2 = pd.read_csv("C:\\Users\\Mihailo\\Desktop\\datasets\\SviPodaci_mStanica_BeogradNBG.csv",  low_memory=False)

size, numAttributes = data.shape
size, numAttributes

(95758, 9)

In [105]:
data.sort_values('Datum_i_Vreme', inplace=True)
data2.sort_values('Datum_i_Vreme', inplace=True)

In [106]:
print(data2.shape)
print(size)

(97078, 9)
95758

In [107]:
data.columns

Index(['Datum_i_Vreme', 'MernaStanica', 'B', 'CO', 'NO2', 'O3', 'PM10', 'PM25',
       'SO2'],
      dtype='object')

In [108]:
data2.isna().sum()

Datum_i_Vreme        0
MernaStanica         0
B                51179
CO                4766
NO2              10358
O3               19363
PM10             13955
PM25             13912
SO2               9820
dtype: int64

In [109]:
info= data2.describe()
info

,B,CO,NO2,O3,PM10,PM25,SO2
count,4.589900e+04,9.231200e+04,8.672000e+04,7.771500e+04,8.312300e+04,8.316600e+04,8.725800e+04
mean,-1.043618e+27,-1.914498e+25,-3.346551e+25,-3.894596e+25,-1.774821e+26,-1.773906e+26,-4.730752e+25
std,2.235853e+29,5.816797e+27,9.855010e+27,1.085712e+28,5.116997e+28,5.115683e+28,1.397439e+28
min,-4.790103e+31,-1.767311e+30,-2.902129e+30,-3.026685e+30,-1.475285e+31,-1.475287e+31,-4.127960e+30
25%,2.405672e-01,2.688711e-01,1.429574e+01,1.321868e+01,1.560000e+01,8.955949e+00,8.010859e+00
50%,6.800000e-01,4.500000e-01,2.400000e+01,3.584544e+01,2.520000e+01,1.684189e+01,1.396176e+01
75%,1.670000e+00,7.477865e-01,4.030000e+01,6.220000e+01,4.035719e+01,3.154686e+01,2.578732e+01
max,3.246900e+11,9.319200e+10,1.530320e+11,1.596000e+11,1.000000e+11,1.000000e+11,4.631304e+10

In [110]:
data2 = data2.drop('B', axis=1)
info2 = data2.describe()
info2
data = data.drop('B', axis=1)

In [111]:
def values(data, name, upper_bound):
    for i in range(size):
        if data[name][i] <0.0:
            data[name][i] = 0.0
        elif data[name][i] > 2*upper_bound:
            data[name][i] = np.NaN
        elif data[name][i] > upper_bound:
            data[name][i] = upper_bound

In [112]:
for (name, upper_bound) in zip(['CO', 'NO2', 'O3', 'PM10', 'PM25', 'SO2'], [57.708, 3852.12, 1208, 604, 500.4, 2630.48]):
    values(data2, name, upper_bound)
    values(data, name, upper_bound)

<ipython-input-111-0e59cdfc2ad0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name][i] = 0.0
<ipython-input-111-0e59cdfc2ad0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name][i] = np.NaN
<ipython-input-111-0e59cdfc2ad0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name][i] = upper_bound

In [113]:
data2.describe()

,CO,NO2,O3,PM10,PM25,SO2
count,92309.000000,86717.000000,77712.000000,83110.000000,83153.000000,87256.000000
mean,0.588866,32.954721,41.401098,33.487509,25.641568,20.487161
std,0.517858,32.189160,33.796315,28.875019,26.949538,21.959612
min,-0.578290,0.000000,-0.047658,0.000000,-1.723289,-28.562240
25%,0.268869,14.294942,13.218191,15.600000,8.953837,8.010561
50%,0.450000,24.000000,35.844331,25.197092,16.837572,13.960932
75%,0.747709,40.300000,62.200000,40.346531,31.536702,25.785598
max,17.893042,441.613418,1208.000000,485.000000,336.527765,793.947108

In [114]:
data.describe()

,CO,NO2,O3,PM10,PM25,SO2
count,91231.000000,89393.000000,89752.000000,87470.000000,87470.000000,50454.000000
mean,0.558184,38.160811,39.826229,33.740650,24.831128,27.160501
std,0.532033,36.231352,32.969283,29.888423,27.086794,61.618592
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.230000,15.645928,13.373913,15.700000,8.712275,5.846430
50%,0.402541,27.077631,34.000000,26.000000,16.500000,10.888785
75%,0.755374,47.222327,58.713542,41.190688,30.249106,23.449669
max,15.023859,777.361649,1208.000000,604.000000,408.075758,924.378962

In [13]:
""""def autlajeri(data, n = 3.0, step=48):
    fig = plt.figure(figsize=(70, 70))
    j = 1
    for name, color in zip(['CO', 'NO2', 'O3', 'PM10', 'PM25', 'SO2'], ['red', 'green', 'blue', 'orange', 'purple', 'black', 'cyan']):
        fig.add_subplot(7, 1, j)
        j = j+1

        q1 = info[name]['25%']
        q3 = info[name]['75%']
        IQR = q3-q1
        x = data[name][lambda a : a > SO2_q1-n*IQR]
        x = x[lambda a : a < SO2_q3 + n*IQR]
        autlajeri_donji = lambda a : (a < SO2_q1-n*IQR)
        autlajeri_gornji = lambda a : (a > SO2_q3+n*IQR)

        for i in range(size):
            x = data[name][i]
            if autlajeri_donji(x) or x < 0.0 :
                data[name][i] = 0.0
            elif autlajeri_gornji(x) :
                data[name][i] =  SO2_q3+n*IQR

        x = data[name][::step]
        y = data['Datum_i_Vreme'][::step]
        plt.plot(y, x, color=color)
        plt.xticks([])

    plt.show()
    return data
""""

In [115]:
def getNum(r1, r2):
    for i in range(len(r1)):
        x = r1[i]
        y = r2[i]
        if np.isnan(x):
            r1[i] = y;
        elif np.isnan(y):
            r1[i] = x
        else:
            r1[i] = np.maximum(x, y)
    return r1

In [116]:
new_data = pd.merge_ordered(data2, data, on=['Datum_i_Vreme'], how='inner')

#new_data['B'] = getNum(new_data['B_x'], new_data['B_y']);
new_data['CO'] = getNum(new_data['CO_x'], new_data['CO_y']);
new_data['NO2'] = getNum(new_data['NO2_x'], new_data['NO2_y']);
new_data['O3'] = getNum(new_data['O3_x'], new_data['O3_y']);
new_data['PM10'] = getNum(new_data['PM10_x'], new_data['PM10_y']);
new_data['PM25'] = getNum(new_data['PM25_x'], new_data['PM25_y']);
new_data['SO2'] = getNum(new_data['SO2_x'], new_data['SO2_y']);
new_data = new_data.drop(['MernaStanica_x', 'MernaStanica_y', 'SO2_x', 'SO2_y', 'CO_x', 'NO2_x', 'O3_x', 'PM10_x', 'PM25_x', 'CO_y', 'NO2_y', 'O3_y', 'PM10_y', 'PM25_y'], axis=1)
new_data.isna().sum()

<ipython-input-115-41dced2254de>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r1[i] = np.maximum(x, y)
<ipython-input-115-41dced2254de>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r1[i] = y;
<ipython-input-115-41dced2254de>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r1[i] = x

Datum_i_Vreme       0
CO                  9
NO2              6164
O3               3375
PM10             4623
PM25             4623
SO2              5269
dtype: int64

In [117]:
data = data.interpolate(method='linear', axis=0)
data = data.bfill()

In [118]:
print(data.isna().sum())

Datum_i_Vreme    0
MernaStanica     0
CO               0
NO2              0
O3               0
PM10             0
PM25             0
SO2              0
dtype: int64

In [119]:
data.to_csv('training_data4.csv')

In [121]:
df = pd.read_csv('training_data4.csv')

In [122]:
df.isna().sum()

Unnamed: 0       0
Datum_i_Vreme    0
MernaStanica     0
CO               0
NO2              0
O3               0
PM10             0
PM25             0
SO2              0
dtype: int64

In [123]:
#print(df['Datum_i_Vreme'][::-1])
len(df)

95758